*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(126deg, rgba(0,255,243,1) 0%, rgba(243,0,255,1) 100%);
    border-radius: 10px;
}

.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person{
    position: absolute;

}

.cake{
    width: 1518px;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    margin-top: 7em;
    font-size: 60px;
    color: white;
}

.heading h1{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.heading h2{
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.main-thing{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
}

.main-thing p{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

.main-thing h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 1em;
    font-size: 150px;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video p{
    margin: 5em;
    font-family: 'Roboto', sans-serif;
    word-spacing: 10px;
    font-size: 30px;
    font-weight: bold;
}

a{
    margin-bottom: 5em;
}